{% extends 'layouts/main.html' %}
{% block content %}
{% block custom_style %}
    <style type="text/css">
        .center {
        margin: auto;
        width: 60%;
        height: 60%;
        border: 1px solid #73AD21;
        padding: 10px;
    }
    </style>

    <div style="text-align: center;">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        You search for '<b> {{search}} </b>'</br>

{% if match %}
{% for user in match %}  
        We had found : <b>{{ user[0] }}</b>

    </div>
    <div class="center">
        <b>
            Username :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{user[0]}}
            </br>
            Role Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user[2]}}
            </br>
            Email  : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user[5]}} 
            </br>
        </b>
{% if (session['role'] == 'admin') or (session['role'] == 'manager') %}
        <font color="#000000" size="1">
            <form action="edit" method= POST>
                <button name="submit" value="{{ user[0] }}" type="submit" style="width: 100%">
                    Edit
                </button>
            </form>
        </font>
    {% if user[3] %}

        <b>
            <font color="white" size="1">
                <form action="block" method= POST>
                    <input name = userid type="hidden" value="{{ user[0] }}">
                    <button name="submit" value="False" type="submit" style="width: 100%; background-color: green">
                        Unblock
                    </button>
                </form>
            </font>
        </b>
    {% else %}
        <b>
            <font color="white" size="1">
                <form action="block" method= POST >
                    <input name = userid type="hidden" value="{{ user[0] }}">
                    <button name="submit" value="True" type="submit" style="width: 100%; background-color: red;">
                        Block
                    </button>
                </form>
            </font>
        </b>

    {% endif %}
{% elif user[3] %}

        <button name="submit" type="submit" style="width: 100%; background-color: red;">
            Account is Blocked
        </button>
{% else %}
        <button name="submit" type="submit" style="width: 100%; background-color: green;color: white    ">
            Account is Active
        </button>
{% endif %}
{% endfor %}
    </div>
{% else %}
Sorry we found nothing !
{% endif %}
{% endblock custom_style %}

</div>

{% endblock %}