{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% block custom_style %}
<div class="page-header w3-container">
    <h2 class="w3-xxlarge" style="font-family: Tangerine, serif">User-Management System</h2>
</div>
{% if session['role'] %}

<div>
    <form action = "message" id="message" method = post>
        <input class="w3-input w3-animate-input" id =message name="message" type = "text" placeholder = "Post your update here" style="height: 50px; width: 200px">
        <input name ="Post update" type="hidden" />
    </form>
</div>
<div class="page-header">
    <div class="w3-container">
        <div class="w3-card-4" style="width:100%;">
            <header class="w3-container w3-teal">
                <h1>Latest Update</h1>
            </header>

            <div class="w3-container">
                <table width="921" class="w3-table w3-striped w3-panel w3-border w3-round-xlarge">
                {% for message in messages %}
                    <tr>
                        <td style="text-align: center; font-family: Tangerine, serif" width="150">
                            <font size="5">
                                <i><strong>{{message[1]}} </strong></i>
                            </font>
                        </td>
                        <td style="text-align: left; padding-left: 20px" width="770">
                            <font color="#000000" size="2">
                                <strong> {{message[2]}}</strong>
                            </font>
                        </td>
                        {% if session['role'] == 'admin' %}
                        <td>
                            <form action="delete" method= POST >
                               <button class="w3-btn" name="submit" value="{{ message[0] }}" type="submit" style="width: 30%">
                               <i class="fa fa-trash">
                               </i>
                               </button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {{ message }}
</div>
{% elif not session['name']%}
<p class="lead">Login to create new user, post your messages and share yours views</p>
{% else %}
<p class="lead">Post your ideas or message's</p>
{% endif %}
{% endblock custom_style %}
{% endblock %}
