{% extends 'layouts/main.html' %}
{% block content %}
  
<div style="text-align: center;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
You had Requested for Email ID : '<b> {{session['step1']}} </b>'</br>

We had found your password :

<table border="0px" style="border-style:outset; border-width:1px; padding-left:4px; padding-right:4px; padding-top:7px; padding-bottom:7px" width="921" cell>
    <thead>
    <tr style="border-style:outset; border-width:0px; font-size: 24px;" >
    <th>EMAIL</th>
    </tr>
    </thead>
    <tbody>

 		<tr>
 			<td><strong>Your's Email ID : {{session['step1']}}</strong></td>     	
 		</tr>
        <tr>
            <td><strong>Your's Password is {{session['step2']}}</strong></td>        
        </tr>    	

</tbody>
    </table></div>
{% endblock %}

