{% extends 'layouts/main.html' %}
{% block title %}Users{% endblock %}
{% block content %}
{% block custom_style %}
<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>



<div class="page-header w3-container">
    <h2 class="w3-xxlarge" style="font-family: Tangerine, serif">User-Management System</h2>
</div>

<p class="lead"> Users </p>

<p>
<a href="{{ url_for('update') }}">Edit profile</a>
<table>
    <tr>
    <td><font size="3"><strong>Role</strong></font></td>
    <td><font size="3"><strong>User ID</strong></font></td>
    <td><font size="3"><strong>Name</strong></font></td>
    <td><font size="3"><strong>Email</strong></font></td>

    {% if (session['role'] == 'admin') or (session['role'] == 'manager') %}

    <td></td>
    <td></td>

    {% endif %}

    </tr>
    {% for user in users %}  
    <tr>
    <td>{{user[3]}}</td>
    <td>{{user[0]}}</td>
    <td>{{user[1]}}</td>
    <td>{{user[2]}}</td>
    {% if (session['role'] == 'admin') or (session['role'] == 'manager') %}
    <td>
        <form action="edit" method= POST>
            <button class="w3-btn" name="submit" value="{{ user[0] }}" type="submit">
                <i class="material-icons">mode_edit</i>
            </button>
        </form>
    </td>
    <td>
        {% if user[4] %}

        <form action="block" method= POST>
            <input name = userid type="hidden" value="{{ user[0] }}">
            <button class="w3-btn" name="submit" value="False" type="submit">
                <i class="fa fa-user-times" style="color:red"></i>
            </button>
        </form>

    {% else %}

        <form action="block" method= POST >
            <input name = userid type="hidden" value="{{ user[0] }}">
            <button class="w3-btn" name="submit" value="True" type="submit">
                <i class="fa fa-user-plus" style="color:green"></i>
            </button>
            </form>

    {% endif %}
    </td>


    {% endif %}

    </tr>

    {% endfor %}

    </table>

</p>
{% if session['role'] == 'admin' %}
<p class="lead">
	<a href="{{ url_for('register') }}">
		Create a new user
	</a>
</p>
{% endif %}
{% endblock custom_style %}
{% endblock %}
