{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h2>User-Management System</h2>
</div>
{% if session['role'] %}

<div class="page-header">
    <form action = "message" id="message" method = post>
        <input id =message name="message" type = "text" placeholder = "Post your update here" style="height: 70px; width: 700px">
        </br>
        <input name ="Post update" type="submit" />
    </form>
</div>
<div class="page-header">
    <h2> Latest Update </h2>

    <table border="5px" style="border-style:outset; border-width:2px; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px" bgcolor="#33CCFF" width="921">
    {% for message in messages %}
    <tr>
        <td style="text-align: center;font-size: 10px; background-color : #717D7E" width="150">
            <font color="white" size="3">
                <strong>{{message[1]}} </strong>Says
            </font>
                {% if session['role'] == 'admin' %}
                </br>
                <form action="delete" method= POST >
                    <button name="submit" value="{{ message[0] }}" type="submit" style="width: 100%">Delete</button>
                </form>
                {% endif %}
        </td>
        <td style="text-align: left;font-size: 10px; background-color : #E5DDDB">
            <font color="#000000" size="2">
                <strong> {{message[2]}}</strong>
            </font>
        </td>
    </tr>
    {% endfor %}
    </table>

    {{ message }}
</div>
{% elif not session['name']%}
<p class="lead">Login to create new user, post your messages and share yours views</p>
{% else %}
<p class="lead">Post your ideas or message's</p>
{% endif %}
{% endblock %}
