{% extends 'layouts/main.html' %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Create a New Project</h3>
    <br>
    <h5>Project Name <h5> {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }} <br>
    <h5>Short Description <h5> {{ form.short_desc(class_ = 'form-control', placeholder = form.short_desc.label.text, required = true) }} <br>
    <h5>Long Description <h5>{{ form.long_desc(class_ = 'form-control', placeholder = form.long_desc.label.text, required = true) }} <br>
    <h5>Funding Goal ($)<h5>{{ form.goal_amount(class_ = 'form-control ', placeholder = form.goal_amount.label.text, required = true) }} <br>
    <h5>Funding End Date <h5>{{ form.time_end(class_ = 'form-control ', placeholder = form.time_end.label.text, required = true) }} <br>
    
    <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block">
 </form>
{% endblock %}
