{% extends 'layouts/form.html' %}

{% block title %}
Add User
{% endblock %}
{% block content %}
{% block custom_style %}
    <style type="text/css">
      .center {
    margin: auto;
    width: 60%;
    height: 60%;
    border: 1px solid #73AD21;
    padding: 10px;
}
    </style>

<div class="w3-card-4">

  <div class="w3-container w3-teal">
    <h2 class="form-heading">
      Sign up
      <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    </h2>
  </div>
  </br></br>

  <form method="post" class="form">

    <div class="center">
<b>Role:
    {{ form.role(class_ = 'form-control first-input', placeholder = form.role.label.text, required = true, autofocus = False) }}
User id:
    {{ form.userid(class_ = 'form-control first-input', placeholder = form.userid.label.text, required = true, autofocus = true) }}
Full Name:
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
Email:
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
Password:
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
</b>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block"  >
</div>
  </form>
  </br></br></br>
  <div class="w3-container w3-teal form" id="footer" color: white">
    <div class="container">
      <p>AndroZDi &copy; All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </div>
</div>

{% endblock custom_style %}

{% endblock %}
